<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>VuejsDemo</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="Content/CSS/vueDemo.css"></link>
</head>

<body>
	<div id="editor">
		<textarea :value="input" @input="update"></textarea>
		<div v-html="compiledMarkdown"></div>
	</div>
	<div id="Hello">
		<label>{{Message}}</label>
		<input type="text" v-model="Message" />
		<span v-bind:title="title">Hover your mouse here!!</span>
	</div>
	<div id="dataList">
		<ul>
			<li v-for="todo in todos">
				{{todo.text}}
			</li>
		</ul>
	</div>
	<div id="ifApp">
		<span v-if="seen">看见了么</span>
	</div>
	<div id="methodApp">
		<label>{{inputDisplay}}</label>
		<input v-on:input="inputChange">
	</div>
	<iframe id="cdframe" src="http://localhost:9090/iframeT.html" width="400" height="300"></iframe>
	<iframe id="frame" src="https://mdn-samples.mozilla.org/snippets/html/iframe-simple-contents.html" width="400" height="300">
		<p>Your browser does not support iframes.</p>
	</iframe>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
	<script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
	<script src="Content/JS/vueDemo.js"></script>
</body>

</html>